<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="jumbotron">
    <h1><%= @note.title %></h1>
    <span class="label label-primary"> Last update <%= @note.updated_at.strftime("%b %d, %Y") %></span>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        <%= @note.content %>
      </p>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>

<div>
  <%= link_to "Edit this note", edit_note_path(@note) %> |
  <%= link_to "Back to notes", notes_path %>

  <%= button_to "Destroy this note", @note, method: :delete %>
<%= button_to "Share note", { action: :share_note, id: @note.id }, class: "btn btn-primary", onclick: "copyUrlToClipboard()" %>

<script>
function copyUrlToClipboard() {
  var dummy = document.createElement('input');
  var text = window.location.href;
  document.body.appendChild(dummy);
  dummy.value = text;
  dummy.select();
  document.execCommand('copy');
  document.body.removeChild(dummy);
}
</script>
</div>

<% if @note.image.present? %>
  <div>
    <%= image_tag @note.image.url %>
  </div>
<% end %>
